@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.form-control {
  @apply mb-2;
}
.form-control > label{
  @apply mb-1 text-sm font-semibold;
}
.text-faint{
  @apply opacity-60 text-xs;
}
input::placeholder{
  @apply text-xs;
}
.screen-height-media{
  min-height: calc(100vh - 120px);  
}

.max-screen-height-media{
  max-height: calc(100vh - 50px);
  overflow: auto;
}

.max-screen-height-media {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.max-screen-height-media::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

select{
  
  -moz-appearance: none; 
  -webkit-appearance: none; 
  appearance: none;
  
}

.menu li a:focus{
   @apply bg-primary text-base-100;
}

html, body {
  overflow: hidden;
  height: 100vh;
}

#__next {
  height: 100vh;
  overflow: hidden;
}